* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to bottom right, #388E8E, #000080);
  background-repeat: no-repeat;
  color: white;
}

header {
  display: flex;
  justify-content: center;
}

